/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utils */
.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Definisce uno stile per i pulsanti, con padding, bordi arrotondati e cursore a forma di puntatore */
.button-set {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/* Header */
/* Definisce uno stile per l'header, con un'altezza minima e uno sfondo colorato */
.header {
    min-height: 100px;
    background-color: #255EE9;
}

/* Crea un contenitore per le caselle dell'header, con larghezza e altezza specificate e sfondo colorato */
.header .box-container {
    width: 70%;
    height: 50px;
}

/* Definisce le dimensioni e l'allineamento per la prima casella dell'header */
.header .h-box1 {
    width: 25%;
    justify-content: flex-start;
}

/* Definisce le dimensioni, l'allineamento e la dimensione del testo per la seconda casella dell'header */
.header .h-box2 {
    width: 10%;
    justify-content: center;
    font-size: 10px;
}

/* Imposta il colore del testo e rimuove la decorazione per tutti i link */
a {
    color: white;
    text-decoration: none;
}

/* Definisce uno stile per il pulsante di login, con padding e bordi arrotondati */
.login-button {
    padding: 7px;
    border-radius: 15px;
    border: none;
}

/* Definisce le dimensioni e l'allineamento per la terza casella dell'header */
.header .h-box3 {
    width: 25%;
    justify-content: flex-end;
}

/* Main */
/* Imposta un'altezza minima e una larghezza del 100% per lo sfondo */
.back-ground {
    min-height: 450px;
    width: 100%;
}

/* Imposta un'immagine di sfondo per il primo contenitore e la dimensiona per coprire l'intera area */
.first-container {
    background-image: url(img/jumbo.png);
    background-size: cover;
}

/* Imposta il colore di sfondo e i margini per il secondo contenitore */
.second-container {
    background-color: white;
    margin: 150px 0 300px;
}

/* Imposta la direzione del flex per il terzo contenitore e il margine inferiore */
.third-container {
    flex-direction: row-reverse;
    margin-bottom: 300px;
}

/* Definisce le dimensioni, il colore di sfondo, l'allineamento del testo e il colore del testo per il primo div */
.first-div {
    height: 200px;
    width: 50%;
    background-color: transparent;
    text-align: center;
    color: white;
}

/* Imposta il padding per il paragrafo all'interno del primo div */
.first-div p {
    padding: 40px 0 30px;
}

/* Imposta il colore di sfondo e del testo per il pulsante "open-discord" */
.open-discord {
    background-color: #23272A;
    color: white;
    margin-left: 20px;
}

/* Imposta il colore di sfondo e del testo per il pulsante di download */
.download-button {
    background-color: white;
    color: black;
}

/* Definisce le dimensioni e la dimensione di sfondo per il secondo div */
.second-div {
    background-size: cover;
}

/* Definisce le dimensioni e il padding per il div doppio */
.double-div {
    padding: 0 30px;
}

/* Imposta il padding e la dimensione del testo per l'elemento h3 all'interno del div doppio */
.double-div h3 {
    padding: 20px 0;
    font-size: 30px;
}

/* Imposta l'allineamento e le dimensioni per il quinto div */
.fifth-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 60%;
    margin: 50px;
    text-align: center;
}

/* Imposta la dimensione del testo e il padding per l'elemento h3 all'interno del quinto div */
.fifth-div h3 {
    font-size: 35px;
    padding-bottom: 20px;
}

/* Imposta la dimensione del testo per il paragrafo all'interno del quinto div */
.fifth-div p {
    font-size: 14.5px;
}

/* Imposta la dimensione del testo per l'elemento con id "endpage-h3" */
#endpage-h3 {
    font-size: 20px;
}

/* Imposta il colore di sfondo e consente il wrap del flex per il pulsante con id "endpage-button" */
#endpage-button {
    background-color: #8EA1E1;
    flex-wrap: wrap;
}

/* Footer */
/* Imposta il colore di sfondo per il contenitore del footer */
.footer-container {
    background-color: #23272A;
}

/* Imposta le dimensioni e il colore di sfondo per il div all'interno del footer */
.div-container {
    height: 350px;
    width: 60%;
    background-color: #23272A;
    margin: 50px;
}

/* Imposta le dimensioni e il margine per la colonna grande all'interno del footer */
.large-column {
    height: 100%;
    width: calc((100% / 5) * 2);
    margin-right: 100px;
}

/* Imposta il colore, la dimensione del testo e il margine inferiore per l'elemento h3 all'interno della colonna grande */
.large-column h3 {
    color: #697EC7;
    font-size: 30px;
    margin-bottom: 30px;
}

/* Imposta l'altezza per l'immagine all'interno della colonna grande */
.large-column img {
    height: 15px;
}

/* Imposta il colore del testo per lo span all'interno della colonna grande */
.large-column span {
    color: white;
}

/* Imposta le dimensioni, il colore del testo e il margine per la colonna piccola */
.small-column {
    height: 100%;
    width: calc(100% / 5);
    color: white;
    margin-right: 50px;
    padding-top: 5px;
    font-size: 12px;
}

/* Imposta il colore del testo per l'elemento con classe "column-id" */
.column-id {
    color: #697EC7;
}

/* Imposta l'altezza e il colore di sfondo per l'elemento con id "border" */
#border {
    height: 2px;
    background-color: #4A5882;
}

/* End Page */
/* Imposta le dimensioni e il colore di sfondo per il contenitore della pagina finale */
.endpage-container {
    height: 100px;
    background-color: #23272A;
}

/* Imposta le dimensioni, il colore di sfondo e l'allineamento per il div della pagina finale */
.endpage-div {
    height: 60px;
    width: 60%;
    background-color: #23272A;
    align-self: flex-end;
    justify-content: space-between;
}

/* Imposta il padding per i paragrafi all'interno del contenitore della pagina finale */
.endpage-container p {
    padding: 0 5px;
}

/* Imposta il colore di sfondo per il pulsante con id "register-button" */
#register-button {
    background-color: #8EA1E1;
}

/* Imposta il colore e il padding per gli elementi con classe "fa-brands" */
.fa-brands {
    color: white;
    padding: 20px 10px;
}